<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/lds_db</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">pfa</property>
    <mapping resource="com/lds/vo/Bonreception.hbm.xml"/>
    <mapping resource="com/lds/vo/Element.hbm.xml"/>
    <mapping resource="com/lds/vo/Typeuser.hbm.xml"/>
    <mapping resource="com/lds/vo/Besoin.hbm.xml"/>
    <mapping resource="com/lds/vo/Personnel.hbm.xml"/>
    <mapping resource="com/lds/vo/Projet.hbm.xml"/>
    <mapping resource="com/lds/vo/Privilege.hbm.xml"/>
    <mapping resource="com/lds/vo/Detailsdemandeelement.hbm.xml"/>
    <mapping resource="com/lds/vo/Article.hbm.xml"/>
    <mapping resource="com/lds/vo/Detailselementbesoin.hbm.xml"/>
    <mapping resource="com/lds/vo/Tache.hbm.xml"/>
    <mapping resource="com/lds/vo/Intervention.hbm.xml"/>
    <mapping resource="com/lds/vo/Bonsortie.hbm.xml"/>
    <mapping resource="com/lds/vo/Fourniture.hbm.xml"/>
    <mapping resource="com/lds/vo/Affaire.hbm.xml"/>
    <mapping resource="com/lds/vo/Detailsbrelement.hbm.xml"/>
    <mapping resource="com/lds/vo/Audit.hbm.xml"/>
    <mapping resource="com/lds/vo/Detailsbcelement.hbm.xml"/>
    <mapping resource="com/lds/vo/Detailssortieelement.hbm.xml"/>
    <mapping resource="com/lds/vo/Devis.hbm.xml"/>
    <mapping resource="com/lds/vo/Client.hbm.xml"/>
    <mapping resource="com/lds/vo/Boncommande.hbm.xml"/>
    <mapping resource="com/lds/vo/Detailstachepersonnel.hbm.xml"/>
    <mapping resource="com/lds/vo/Demandeprix.hbm.xml"/>
    <mapping resource="com/lds/vo/Facture.hbm.xml"/>
    <mapping resource="com/lds/vo/Fournisseur.hbm.xml"/>
    <mapping resource="com/lds/vo/Reservation.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
